* {
    box-sizing: border-box;
    margin: 2px;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    padding: 10px;
}

.btn {
    display: inline-block;
    padding: 8px 0;
    min-width: 150px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #F13278 ;
    color: #fff;
    background-color: #F13278;
    text-decoration: none;
}
.btn.outline {
    border-radius: 15px;
    border: 3px solid #F13278;
    color: #F13278;
    background-color: #ffffff;
}



.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #ffffff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #F13278;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.navbar .buttons {
    text-align: center;
}
.navbar .buttons .btn {
    margin: 0 5px;
}

p {
    text-align: left;
    margin: 0 auto 20px auto;
    max-width: 600px;
    line-height: 1.7;
}

.content-with-media {
    text-align: center;
    max-width: 600px;
    margin: 40px auto 40px auto;
}

@media (min-width: 800px) {
    .content-with-media {
        display: flex;
        display: block;
    }
    .content-with-media .media {
        float: right;
        order: 2;
    }
    .content-with-media img {
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0,0,0,.2);
        border: 5px solid #fff;
    }
}


@media (max-width: 800px) {
.navbar {
    flex-direction: column;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
}

.navbar-links ul li a {
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
 }
}


.homedesignone {
    width: 100%;
    height: auto;
     
}

@media screen and (max-width: 500px) {
.responsive {
    padding: 0px 5px;
    background-color: #ffffff;
 }

}




.logoimg12 {
    padding: 1px;
}



.parent {
    position: relative;
}

.child {
    position: absolute;
    font-size: larger;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F13278;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px rgba(51, 1, 20, 0.192);
    width: max-content;
}


.second-head {
    font-size: 12px;
    color: #F13278;
    text-shadow: 2px 2px 5px rgba(51, 1, 20, 0.192);
    text-align: center;
    padding: 2%;
}


.two-head {
    color: #F13278;
    text-align: center;
    padding: 9%;
    text-shadow: 2px 2px 5px rgba(51, 1, 20, 0.192);
    font-family: Arial, Helvetica, sans-serif;
}


.top-header {
    text-align: center;
}




.p-first {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.secondaction {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    padding: 3%;
}


.two-head {
    font-size: 1.5rem;
    line-height: 4rem;
}




.p2 {
    text-align: center;
   
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 5%;
    
}

.testbtn {
    display: inline-block;
    padding: 3px 0;
    min-width: 150px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #F13278 ;
    color: #fff;
    background-color: #F13278;
    text-decoration: none;
    align-self: center;

}

.understand {
    flex-flow: column;
    display: flex;
    

}


.secondhead {
    text-align: center;
    color: #F13278;
    text-shadow: 2px 2px 5px rgba(51, 1, 20, 0.192);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3%;
    

}